# CheckWPS builds
private/checkwps/current/checkwps*
private/checkwps/release/checkwps*
private/checkwps/*/VERSION*

# Themes
private/themes
www/themes

# Private WWW
www/.well-known

# Templates
private/templates/compiled
private/templates/cache

# Database
private/themes.db
