@charset "utf-8";
/* CSS Document */
div.playerbox
{
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
 font-size:        13px;
 background-color: #c6d6f5;
 margin:           2px;
 width:            200px;
 min-height:       120px;
 float:            left;
 padding:          3px 3px 3px 3px;
 text-align:       center;
}

.themebox
{
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
 font-size:        13px;
 background-color: #c6d6f5;
 margin:           2px;
 padding:          3px 3px 3px 3px;
 vertical-align:   top;
}

.themebox h2
{
 background-color: #b6c6e5;
 text-align:       center;
 white-space:      nowrap;
 overflow:         hidden;
}

.themebox h2 a
{
 color:           black;
 text-decoration: none;
}
